

<div class="content">
  <center>
    <%= link_to image_tag("text.png", alt: "Monterey Bay Meditation Studio logo", width: "400", style: "margin-top: 20px; margin-bottom: 12px;"),
  root_path  %>
    <br>
    <a href="#classes">Return to Main Site</a>
    <hr>
  </center>

  <% if !session[:class_title]%>
    <p>Oops! please choose a <%= link_to 'class', classes_path %> first</p>
  <% else %>

  <h1 style="text-align:center">Thanks for you interesest in<br>
  <b><%= session[:class_title] %></b></h1>

  <h2>We're excited to share this event with you!</h2>
  Please fill out the form below to register for <h2 style="display:inline"><%= session[:class_title] %></h2>

  <h2><%= simple_format session[:sign_up_info] %></h2>

  <%= render 'form', student: @student %>
  <% end %>
</div>
