

<div class="content">
  <center>
    <%= link_to image_tag("text.png", alt: "Monterey Bay Meditation Studio logo", width: "400", style: "margin-top: 20px; margin-bottom: 12px;"),
  root_path  %>
    <br>
    <%= link_to "Return to Classes", classes_path %>
    <hr>
  </center>

  <% if !session[:class_title]%>
    <p>Oops! please choose a <%= link_to 'class', classes_path %> first</p>
  <% else %>

  <h1 style="text-align:center;">Thanks for your interest in<br>
  <b><%= session[:class_title] %></b></h1>

  <div style="width:600px; max-width: 100%;"><p>Please fill out the form below to register. <br>After we receive your registration,
    we will reply by email with payment information and details about the offering.</p></div>

  <h2><%= simple_format session[:sign_up_info] %></h2>

  <%= render 'form', student: @student %>
  <% end %>
</div>
