<p>
  <strong>Student name:</strong>
  <%= @student.first_name %> <%= @student.last_name %>
</p>

<p>
  <strong>Class name:</strong>
  <%= @student.class_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @student.phone_number %>
</p>

<p>
  <strong>Previous Experience:</strong>
  <%= @student.previous_experience %>
</p>

<p>
  <strong>Referral Source:</strong>
  <%= @student.referral_source %>
</p>

<p>
  <strong>How did you hear about us?:</strong>
  <%= @student.how_did_you_hear %>
</p>

<p>
  <strong>Additional Info:</strong>
  <%= @student.additional_info %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
