<script type="text/javascript">
  $( document ).ready( function(num){
    init()
    $( '#add-button' ).click( function( e ){
      e.preventDefault()
      num++
      updateNum()
      addEvent()
      toggleButtons()
    })
    $( '#subtract-button' ).click( function( e ){
      e.preventDefault()
      removeEvent()
      num--
      updateNum()
      toggleButtons()
    })
    function init(){
      num = 1
      $( '#class_page_class_instances' ).val(num)
      $( '#2, #3, #4, #5, #6, #7, #8, #9, #10, #11, #12' ).hide()
      $( '#subtract-button' ).hide()
    }
    function toggleButtons(){
      switch(num) {
        case 1:
          $( '#add-button' ).show()
          $( '#subtract-button' ).hide()
            break
        case 12:
          $( '#add-button' ).hide()
          $( '#subtract-button' ).show()
            break
        default:
          $( '#add-button' ).show()
          $( '#subtract-button' ).show()
      }
    }
    function addEvent(){ $( '#' + num.toString() ).show() }
    function removeEvent(){ $( '#' + num.toString() ).hide() }
    function updateNum(){ $( '#class_page_class_instances' ).val(num) }
  })
</script>

<%= form_for(class_page) do |f| %>
  <% if class_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(class_page.errors.count, "error") %> prohibited this class_page from being saved:</h2>

      <ul>
      <% class_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <h2><b>Class Title</b></h2>
    <%= f.text_field :class_title %>
  </div>

  <div class="field">
    <h2><b>Include an image for the class?</b></h2>
    <%= f.file_field :class_photo %>
  </div>

  <div class="field">
    Is this class a recurring class? &nbsp;<%= f.check_box :recurring_event %>
  </div>

  <div class="field">
    Allow students to sign up for this class? &nbsp;<%= f.check_box :include_sign_up %>
  </div>

  <div class="field">
    <h2><b>Class Content</b></h2>
    <%= f.text_area :class_content, style: "width: 600px; height: 500px; max-width: 100%" %>
  </div>

  <div class="field">
    <h2><b>Sign Up Info</b></h2>
    Include all material such as Dates, Times, Phone Numbers,<br>and other important information<br>
    <i><b>Note:</b> If this class has a sign up form, content written<br> here will be also be visible on the sign up form</i>
    <%= f.text_area :sign_up_info, style: "width: 600px; height: 200px; max-width: 100%" %>
  </div>

  <div class="field">
    <%= f.label :order_position %>
    <%= f.number_field :order_position %>
  </div>

  <% if !current_page?(controller: 'class_pages', action: 'new') %>
    <div class="field" id="1">
      <%= f.label "reg start time" %>
      <%= f.datetime_select :start_time, ampm: true %>
    </div>
  <% else %>
    <div class="field" id="1">
      <%= f.label "start time" %>
      <%= f.datetime_select :start_time_1, ampm: true %>
    </div>
  <% end %>

  <!-- additional start times -->

    <div class="field" id="2">
      <%= f.label :start_time_2 %>
      <%= f.datetime_select :start_time_2, ampm: true %>
    </div>

    <div class="field" id="3">
      <%= f.label :start_time_3 %>
      <%= f.datetime_select :start_time_3, ampm: true %>
    </div>

    <div class="field" id="4">
      <%= f.label :start_time_4 %>
      <%= f.datetime_select :start_time_4, ampm: true %>
    </div>

    <div class="field" id="5">
      <%= f.label :start_time_5 %>
      <%= f.datetime_select :start_time_5, ampm: true %>
    </div>

    <div class="field" id="6">
      <%= f.label :start_time_6 %>
      <%= f.datetime_select :start_time_6, ampm: true %>
    </div>

    <div class="field" id="7">
      <%= f.label :start_time_7 %>
      <%= f.datetime_select :start_time_7, ampm: true %>
    </div>

    <div class="field" id="8">
      <%= f.label :start_time_8 %>
      <%= f.datetime_select :start_time_8, ampm: true %>
    </div>

    <div class="field" id="9">
      <%= f.label :start_time_9 %>
      <%= f.datetime_select :start_time_9, ampm: true %>
    </div>

    <div class="field" id="10">
      <%= f.label :start_time_10 %>
      <%= f.datetime_select :start_time_10, ampm: true %>
    </div>

    <div class="field" id="11">
      <%= f.label :start_time_11 %>
      <%= f.datetime_select :start_time_11, ampm: true %>
    </div>

    <div class="field" id="12">
      <%= f.label :start_time_12 %>
      <%= f.datetime_select :start_time_12, ampm: true %>
    </div>

    <button id="add-button"><h4>+</h4></button>
    <button id="subtract-button"><h4>-</h4></button>

    <div style="visibility:hidden" >
      <%= f.label :class_instances %>
      <%= f.text_field :class_instances %>
    </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
