<%= form_for(class_page) do |f| %>
  <% if class_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(class_page.errors.count, "error") %> prohibited this class_page from being saved:</h2>

      <ul>
      <% class_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :class_photo %>
  </div>

  <div class="field">
    <%= f.label :class_title %>
    <%= f.text_field :class_title %>
  </div>

  <div class="field">
    Recurring Event? &nbsp;<%= f.check_box :recurring_event %>
  </div>

  <div class="field">
    <%= f.label :class_content %>
    <%= f.text_area :class_content, style: "width: 600px; height: 500px; max-width: 100%" %>
  </div>

  <div class="field">
    <%= f.label :order_position %>
    <%= f.number_field :order_position %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, ampm: true %>
  </div>

<!-- additional start times -->
    <div class="field">
      <%= f.label :start_time_1 %>
      <%= f.datetime_select :start_time_1, ampm: true %>
    </div>

    <div class="field">
      <%= f.label :start_time_2 %>
      <%= f.datetime_select :start_time_2, ampm: true %>
    </div>

    <div class="field">
      <%= f.label :start_time_3 %>
      <%= f.datetime_select :start_time_4, ampm: true %>
    </div>

    <div class="field">
      <%= f.label :start_time_5 %>
      <%= f.datetime_select :start_time_5, ampm: true %>
    </div>

    <div class="field">
      <%= f.label :start_time_6 %>
      <%= f.datetime_select :start_time_6, ampm: true %>
    </div>

    <div class="field">
      <%= f.label :start_time_7 %>
      <%= f.datetime_select :start_time_7, ampm: true %>
    </div>

    <div class="field">
      <%= f.label :start_time_8 %>
      <%= f.datetime_select :start_time_8, ampm: true %>
    </div>

    <div class="field">
      <%= f.label :start_time_9 %>
      <%= f.datetime_select :start_time_9, ampm: true %>
    </div>

    <div class="field">
      <%= f.label :start_time_10 %>
      <%= f.datetime_select :start_time_10, ampm: true %>
    </div>

    <div class="field">
      <%= f.label :start_time_11 %>
      <%= f.datetime_select :start_time_11, ampm: true %>
    </div>

    <div class="field">
      <%= f.label :start_time_12 %>
      <%= f.datetime_select :start_time_12, ampm: true %>
    </div>





  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
