<% provide(:title, "ADMIN") %>

<% if current_page?(admin_path) %>

<div class="content">
  <div class="row">
    <div class="twelve columns">
      <center>
        <%= link_to image_tag("text.png", alt: "Monterey Bay Meditation Studio logo", width: "500"), root_path  %>
        <br>
        <a href="#classes">Classes</a> |
        <a href="#sidebar">Sidebar</a> |
        <a href="#mailing-list">Students</a>
      </center>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="basicheader">Classes</div>
  </div>

  <div class="row">
    <div class="three columns">
      <p>
        <%= link_to 'New Class Page', new_class_page_path %>
      </p>
    </div>
    <div class="nine columns">
      <% @class_pages.each do |class_page| %>
        <p>
          <%= link_to "#{class_page.class_title}", class_page  %>
          <br>
          Order Position: <%= class_page.order_position %>
          <br>
          <small>
            <%= link_to 'Edit', edit_class_page_path(class_page) %> |
            <%= link_to 'Destroy', class_page, method: :delete, data: { confirm: 'Are you sure?' } %>
          </small>
        </p>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="three columns">
      <div class="basicheader">Sidebar</div>
    </div>
    <div class="three columns">
      <%= render 'layouts/widgets/announcement' %>
    </div>
  </div>
</div>
<% end %>
