<script type="text/javascript">
  $( document ).ready( function(){
    //hide all on init
    $( '#classes' ).hide()
    $( '#sidebar' ).hide()
    $( '#students' ).hide()
    $( '#newsletter' ).hide()

    //classes state
    $( '#classes-link' ).click( function(e){
      e.preventDefault()
      $( '#classes' ).show()
      $( '#sidebar' ).hide()
      $( '#students' ).hide()
      $( '#newsletter' ).hide()
    })

    //sidebar state
    $( '#sidebar-link' ).click( function(e){
      e.preventDefault()
      $( '#classes' ).hide()
      $( '#sidebar' ).show()
      $( '#students' ).hide()
      $( '#newsletter' ).hide()
    })

    //students state
    $( '#students-link' ).click( function(e){
      e.preventDefault()
      $( '#classes' ).hide()
      $( '#sidebar' ).hide()
      $( '#students' ).show()
      $( '#newsletter' ).hide()
    })

    //newsletter state
    $( '#newsletter-link' ).click( function(e){
      e.preventDefault()
      $( '#classes' ).hide()
      $( '#sidebar' ).hide()
      $( '#students' ).hide()
      $( '#newsletter' ).show()
    })
  })
</script>

<% provide(:title, "ADMIN") %>

<% if current_page?(admin_path) %>

  <div class="content" style="min-height: 800px">
    <div class="row">
      <div class="twelve columns">

          <%= link_to image_tag("wave-middle.png", alt: "Monterey Bay Meditation Studio logo", width: "18%"), root_path  %>
          <br>
          <a href="#classes" id="classes-link">Classes</a> |
          <a href="#sidebar" id="sidebar-link">Sidebar</a> |
          <a href="#students" id="students-link">Students</a> |
          <a href="#newsletter" id="newsletter-link">Newsletter</a>


      </div>
    </div>

<hr>

    <div id="classes">
      <div class="row">
        <h1>Classes</hi>
      </div>

      <div class="row">
        <div class="three columns">
          <p>
            <%= link_to 'New Class Page', new_class_page_path %>
          </p>
        </div>
        <div class="nine columns">
          <% @admin_class_pages.each do |class_page| %>
            <p>
              <%= link_to "#{class_page.class_title}", class_page  %>
              <br>
              Order Position: <%= class_page.order_position %>
              <br>
              Start Time: <%= class_page.start_time.strftime('%A, %b %d') %>
              <small>
                <%= link_to 'Edit', edit_class_page_path(class_page) %> |
                <%= link_to 'Destroy', class_page, method: :delete, data: { confirm: 'Are you sure?' } %>
              </small>
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <div id="sidebar">

      <div class="row">
        <div class="three columns">
          <h1 style="text-align:left">Sidebar</h1>
          <%= link_to 'New Announcement', new_announcement_path %><br>
        </div>
        <div class="three columns">
          <% @announcements.each do |a| %>
            <div style="border: 1px solid lightgray; padding: 24px;">
              <h1><%= a.title %></h1>

              <%= image_tag a.image.url, class: "announcement-image" %><br>
              <a href="<%= a.url %>"><%= a.content %></a>

              <% if user_signed_in? %>
              <br><br>
              <div><%= link_to "[edit]", edit_announcement_path(a), style: "color:red" %></div>
              <div><%= link_to "[destroy]", a, method: :delete, data: { confirm: 'Are you sure?' }, style: "color:red" %></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="students">

      <div class="row">
        <h1>Students</h1>

        <% @students.each do |student| %>

        Added: <%= student.created_at.strftime("%b %e, %l:%M %p") %>
        <div style="border: 1px solid lightgray; padding: 8px;">
          <b><%= student.first_name %> <%= student.last_name %></b> <a href="#"><%= student.email %></a> | <%= student.phone_number %>
          <br>
          <div><%= link_to "[view]", student %></div>

        </div>
        <br>

        <!-- <table>
          <tr>
            <td><h2><%= student.first_name %> <%= student.last_name %></h2></td>
            <td>
              class: <%= student.class_name %> <br> email: <%= student.email %> <br> phone number: <%= student.phone_number %><br>
              previous experience: <%= student.previous_experience %><br>
              mailing list: <%= student.email_list %><br>
              how did you hear about us: <%= student.referral_source %><br>
              additional info: <%= student.additional_info %><br>
              how did you hear (field): <%= student.how_did_you_hear %>
            </td>

        </tr>
        </table> -->
        <% end %>

      </div>
    </div>

    <div id="newsletter">
      <div class="row">
        <h1>Newsletter Subscribers</h1>
        <% @newsletter_subscribers.each do |student| %>
          <h2><%= student.first_name %> <%= student.last_name %></h2>
          email: <%= student.email %><br>
          how did you hear about us: <%= student.referral_source %><br>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
