<script type="text/javascript">
  $( document ).ready( function(){
    //hide all on init
    $( '#classes' ).hide()
    $( '#sidebar' ).hide()
    $( '#students' ).hide()
    $( '#newsletter' ).hide()
    $( '#basic-pages' ).hide()
    $( '#instructions' ).show()

    //classes state
    $( '#classes-link' ).click( function(e){
      e.preventDefault()
      $( '#classes' ).show()
      $( '#sidebar' ).hide()
      $( '#students' ).hide()
      $( '#newsletter' ).hide()
      $( '#basic-pages' ).hide()
      $( '#instructions' ).hide()
    })

    //sidebar state
    $( '#sidebar-link' ).click( function(e){
      e.preventDefault()
      $( '#classes' ).hide()
      $( '#sidebar' ).show()
      $( '#students' ).hide()
      $( '#newsletter' ).hide()
      $( '#basic-pages' ).hide()
      $( '#instructions' ).hide()
    })

    //students state
    $( '#students-link' ).click( function(e){
      e.preventDefault()
      $( '#classes' ).hide()
      $( '#sidebar' ).hide()
      $( '#students' ).show()
      $( '#newsletter' ).hide()
      $( '#basic-pages' ).hide()
      $( '#instructions' ).hide()
    })

    //newsletter state
    $( '#newsletter-link' ).click( function(e){
      e.preventDefault()
      $( '#classes' ).hide()
      $( '#sidebar' ).hide()
      $( '#students' ).hide()
      $( '#newsletter' ).show()
      $( '#basic-pages' ).hide()
      $( '#instructions' ).hide()
    })

    //instructions state
    $( '#instructions-link' ).click( function(e){
      e.preventDefault()
      $( '#classes' ).hide()
      $( '#sidebar' ).hide()
      $( '#students' ).hide()
      $( '#newsletter' ).hide()
      $( '#basic-pages' ).hide()
      $( '#instructions' ).show()
    })

    //instructions state
    $( '#basic-pages-link' ).click( function(e){
      e.preventDefault()
      $( '#classes' ).hide()
      $( '#sidebar' ).hide()
      $( '#students' ).hide()
      $( '#newsletter' ).hide()
      $( '#basic-pages' ).show()
      $( '#instructions' ).hide()
    })
  })
</script>


<% provide(:title, "ADMIN") %>

<% if current_page?(admin_path) %>

  <div class="content" style="min-height: 800px">
    <div class="row">
      <div class="twelve columns">

          <%= link_to image_tag("wave-middle.png", alt: "Monterey Bay Meditation Studio logo", width: "18%"), root_path  %>
          <br>
          <a href="#classes" id="classes-link">Classes</a> |
          <a href="#sidebar" id="sidebar-link">Sidebar</a> |
          <a href="#students" id="students-link">Students</a> |
          <a href="#newsletter" id="newsletter-link">Newsletter</a> |
          <a href="#instructions" id="instructions-link">Instructions</a> |
          <a href="#basic-pages" id="basic-pages-link">Basic Pages</a>


      </div>
    </div>

<hr>

    <div id="classes">
      <div class="row">
        <h1>Classes</hi>
      </div>

      <div class="row">
        <div class="three columns">
          <p>
            <%= link_to 'New Class Page', new_class_page_path %>
          </p>
        </div>
        <div class="nine columns">
          <% @admin_class_pages.each do |class_page| %>
            <p>
              <%= link_to "#{class_page.class_title}", class_page  %>
              <br>
              Order Position: <%= class_page.order_position %>
              <br>
              Start Time: <%= class_page.start_time.strftime('%A, %b %d') %>
              <small>
                <%= link_to 'Edit', edit_class_page_path(class_page) %> |
                <%= link_to 'Destroy', class_page, method: :delete, data: { confirm: 'Are you sure?' } %>
              </small>
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <div id="sidebar">

      <div class="row">
        <div class="three columns">
          <h1 style="text-align:left">Sidebar</h1>
          <%= link_to 'New Announcement', new_announcement_path %><br>
        </div>
        <div class="three columns">
          <% @announcements.each do |a| %>
            <div style="border: 1px solid lightgray; padding: 24px;">
              <h1><%= a.title %></h1>

              <%= image_tag a.image.url, class: "announcement-image" %><br>
              <a href="<%= a.url %>"><%= a.content %></a>

              <% if user_signed_in? %>
              <br><br>
              <div><%= link_to "[edit]", edit_announcement_path(a), style: "color:red" %></div>
              <div><%= link_to "[destroy]", a, method: :delete, data: { confirm: 'Are you sure?' }, style: "color:red" %></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="students">

      <div class="row">
        <h1>Students</h1>

        <% @students.each do |student| %>

        Added: <%= student.created_at.strftime("%b %e, %l:%M %p") %>
        <div style="border: 1px solid lightgray; padding: 8px;">
          <b><%= student.first_name %> <%= student.last_name %></b> | <%= student.class_name %>
          <br>
          <div><%= link_to "[view]", student %></div>

        </div>
        <br>


        <% end %>

      </div>
    </div>

    <div id="newsletter">
      <div class="row">
        <h1>Newsletter Subscribers</h1>
        <% @newsletter_subscribers.each do |student| %>
          <h2><%= student.first_name %> <%= student.last_name %></h2>
          email: <%= student.email %><br>
          how did you hear about us: <%= student.referral_source %><br>
        <% end %>
      </div>
    </div>

    <div id="basic-pages">
      <div class="row">
        <h1>Basic Pages</h1>
        <% @basic_pages.each do |page| %>
          <%= page.page_title %> <%= link_to 'Edit', edit_basic_page_path(page) %>
          <br />
        <% end %>
      </div>
    </div>

    <div id="instructions">
      <div class="row">
        <h1>Instructions</h1>
      </div>
      <div class="row">

        <div class="twelve columns">

              <b>There are 3 ways to create classes:</b>

              <ul>
                <li>Create a new class with only 1 occurance (like a community event)</li>
                <li>Create a new class with multiple occurances (like a 4-week course)</li>
                <li>Create a recurring class that repeats throughout the year (like a weekly drop-in)</li>
              </ul>
            </p>
            <p>
              To create a new class, to classes -> New Class Page.
            </p>

            <p>
              <code>Create a new class with only 1 occurance</code><br>
              <ul>
                <li>To create a single class that only occurs one time, you need to leave 'Is this a repeating weekly drop-in?' unchecked</li>
                <li>You also need to have only one 'start time'</li>
                <li><b>To Edit the class page:</b> locate the class here in the admin menu (under 'Classes'), select 'edit', and make the necessary changes</li>
              </ul>
            </p>

            <p>
              <code>Create a new class with multiple occurances</code><br>
              <ul>
                <li>To create a class with multiple occurances, you need to leave 'Is this a repeating weekly drop-in?' unchecked</li>
                <li>You also need to have more than one 'start time'. You do this by pushing the + button to add more start times</li>
                <li>Note: double check that each start time is correct (year, month, date, time)</li>
                <li><b>To Edit the class page:</b> locate the class in the here in the admin menu (under 'Classes'), select 'edit', and make the necessary changes</li>
                <li><b>To Edit or Delete one of the occurances</b> locate the individual class on the calendar and edit the start time, or delete the occurance</li>

              </ul>
            </p>

            <p>
              <code>Create a recurring class that repeats throughout the year</code><br>
              When you create a recurring class, the only relevant details are the Title, Start Time, and 'Is this a repeating weekly drop-in?'.
              When a visitor finds one of these classes, they will always link back to the 'drop-in classes' page. You can edit the 'drop-in classes' page
              by selecting the Classes link in the here in the Admin section.
              <ul>
                <li>To create a recurring class, you need to check the box for 'Is this a repeating weekly drop-in?'</li>
                <li>You need to set the start time to be the very first instance of the year. For example, if your
                  class occurs every tuesday at 12:15 pm, you would need to make the start date to January 3rd at 12:15pm of the current year</li>
                  <li><b>To Edit or Delete one of the occurances</b> locate the individual class on the calendar and edit the start time, or delete the occurance</li>
              </ul>
            </p>



        </div>
      </div>
    </div>
  </div>
<% end %>
