<% provide(:title, "Schedule") %>
  <div class="nine columns">
    <div class="content">
      <h1>Schedule</h1>

      <p>
        <small>
          Please note: all classes with&nbsp;<span class="star">*</span>&nbsp;
          require pre-registration<br />
          Click the link for more information
        </small>
      </p>

      <div id="full-schedule-view">

        <%= month_calendar events: @class_pages do |date, class_pages| %>
          <span class="day-num"><b><%= date.day %></b></span>
          <br>
          <% class_pages.each do |class_page| %>
            <%= link_to class_page.class_title, class_page %><br>
            <%= class_page.start_time.strftime("%l:%M %p") %><br>
          <% end %>
        <% end %>
      </div>

      <div id="mobile-schedule-view">

        <h1><%= @class_pages.first.start_time.strftime("%B") %></h1>
        <br>
        <% @class_pages.each do |class_page| %>
          <%= class_page.start_time.strftime("%A %y") %> |
          <%= link_to class_page.class_title, class_page %> |
          <%= class_page.start_time.strftime("%l:%M %p") %>
          <br>
        <% end %>
      </div>

    </div>
  </div>
