<% provide(:title, "Schedule") %>
  <div class="nine columns">
    <div class="content">
      <h1>Schedule</h1>

      <p>
        <small>
          Please note: all classes with&nbsp;<span class="star">*</span>&nbsp;
          require pre-registration<br />
          Click the link for more information
        </small>
      </p>

      <div id="full-schedule-view">

        <%= month_calendar events: @class_pages do |date, class_pages| %>
          <span class="day-num"><b><%= date.day %></b></span>
          <br>

            <% class_pages.each do |class_page| %>
              <% if class_page.slug_ref != "drop-in-classes"%>
                <% if class_page.recurring_event %>
                  <a href="/classes/drop-in-classes"><%= class_page.class_title %></a>
                <% else %>
                  <a href="/classes/<%= class_page.slug_ref %>"><%= class_page.class_title %></a>
                <!-- <%= link_to class_page.class_title, class_page %><br> -->
                <% end %>
                <%= class_page.start_time.strftime("%l:%M %p") %><br>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div id="mobile-schedule-view">

        <h1><%= Time.now.strftime('%B') %></h1>
        <br>
        <% @mobile_classes.each do |class_page| %>
          <% if class_page.slug_ref != "drop-in-classes"%>
            <% if class_page.recurring_event %>
              <%= class_page.start_time.strftime('%A, %d | %l:%M %p') %> <br> <a href="/classes/drop-in-classes"><%= class_page.class_title %></a>
              <br>
              <br>
            <% else %>
              <%= class_page.start_time.strftime('%A, %d | %l:%M %p') %> <br> <a href="/classes/<%= class_page.slug_ref %>"><%= class_page.class_title %></a>
              <br>
              <br>
            <% end %>

        <% end %>
        <% end %>
      </div>

    </div>
  </div>
