<% provide(:title, @class_page.class_title) %>

  <div class="two columns">
    <%= render 'layouts/sidebar_classes' %>
  </div>

  <div class="seven columns" style="background-color:white">

      <div class="content">
        <h1> <%= @class_page.class_title %></h1>

        <p>
          recurring event: <%= @class_page.recurring_event %>
        </p>

        <% unless @class_page.class_photo.blank? %>
        <%= image_tag @class_page.class_photo.url %>
        <% end %>

        <p>
          <%= simple_format @class_page.class_content %>
        </p>






        <%= button_to "Sign Up", new_student_path, method: :get %>





      </div>
    </div>
