<%= form_for(registration_form) do |f| %>
  <% if registration_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registration_form.errors.count, "error") %> prohibited this registration_form from being saved:</h2>

      <ul>
      <% registration_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :class_name %>
    <%= f.text_field :class_name %>
  </div>

  <div class="field">
    <%= f.label :student_name %>
    <%= f.text_field :student_name %>
  </div>

  <div class="field">
    <%= f.label :student_email %>
    <%= f.text_field :student_email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
