<p id="notice"><%= notice %></p>

<p>
  <strong>Class name:</strong>
  <%= @registration_form.class_name %>
</p>

<p>
  <strong>Student name:</strong>
  <%= @registration_form.student_name %>
</p>

<p>
  <strong>Student email:</strong>
  <%= @registration_form.student_email %>
</p>

<%= link_to 'Edit', edit_registration_form_path(@registration_form) %> |
<%= link_to 'Back', registration_forms_path %>
