

<footer>
  <div class="container">
    <div class="row">
      <div class="six columns left-column">
        <%= link_to "Home",     root_path,      class: "footer-nav-links" %>
        <%= link_to "Teachers", teachers_path,  class: "footer-nav-links" %>
        <%= link_to "Schedule", teachers_path,  class: "footer-nav-links" %>
        <%= link_to "Classes",  classes_path,   class: "footer-nav-links" %>
        <%= link_to "Contact",  contact_path,   class: "footer-nav-links" %>

        

      </div>


      <div class="six columns right-column">
        Monterey Bay Meditation Studio<br>
          529 Central Avenue, Suite 201A<br>
          Pacific Grove, California<br>
          <a href="tel:8313731017">(831) 373-1017</a><br>
          Katie Dutcher: <a href="mailto:katie@montereybaymeditation.com">katie@montereybaymeditation.com</a><br>
          Marianne Rowe: <a href="mailto:marianne@montereybaymeditation.com">marianne@montereybaymeditation.com</a>
      </div>
    </div>
  </div>
</footer>
