<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Monterey Bay Meditation Studio</title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/basic_page_needs' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <% if current_page?(admin_path) %>
      <div class="container">
  
        <%= yield %>

      </div>
    <% else %>

      <%= render 'layouts/header' %>

      <div class="container">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <%= yield %>



        <div class="three columns">
          <% if controller_name != 'registrations' %>
      		<%= render 'layouts/sidebar' %>
          <% end %>
      	</div>





      </div>

  		  <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
